/*
 * Sample Service Manager configuration for the ANC (Vassar) node. This file
 * is used to generate the service_manager.xml, active-bpel.xml, and
 * tomcat-users.xml files.  Currently both tomcat instances use 
 * identical tomcat-users.xml files.
 */
Context {
	displayName = 'LAPPS : ANC'
	serviceManagerCopyright = 'Copyright 2012'
	// This likely doesn't need to be changed unless BPEL is running
	// on a different machine.
	activeBpelServicesUrl = 'http://localhost:8081/active-bpel/services'
	
	// This value is inserted into the service_manager.xml and
	// active-bpel.xml files.
	activeBpelAppAuthKey = 'asdkjbweposd'

	// These values likely don't need to be changed.
	maxCallNest = 16
	atomicServiceReadTimeout = 30000
	compositeServiceReadTimeout = 30000
	
}

// The Tomcat configuration is used for both instances of tomcat.
// If you want different users for each instance you will have to
// edit the individual conf/tomcat-users.xml files.
Tomcat {
	rolename = 'serviceGridAdmin'
	username = 'tomcat'
	password = 'password'
}

Database {
	name = 'langrid'
	table = 'langrid'
	username = 'langrid'
	password = 'langrid'
}

// Information for this node. Do all nodes in the LAPPS grid use the
// same grid ID?
Node {
	gridId = 'lapps'
	nodeId = 'anc1'
	name = 'ANC-Node-1'
	url = 'http://localhost:8080/service_manager'
	os = 'Ubuntu 12.04.1 LTS'
	cpu = '4x8 2.6Ghz'
	memory = '64GB'
	specialNotes = 'None.'
}

// Information for the system operator.
Operator {
	userId = 'operator'
	initialPassword = 'changeme'
	organization = 'American National Corpus'
	responsiblePerson = 'Keith Suderman'
	emailAddress = 'suderman@anc.org'
	homepageUrl = 'http://www.anc.org'
	address = 'New York'		
}

Auth {
	authIps = '127.0.0.1'
	// Key inserted into bpr/langrid.ae.properties.
	authKey = 'cse=24nrkasjd'
}
